In [110]:
import pandas as pd
import regex as re

# ETR

In [111]:
data_etr = pd.read_csv(r"D:\data_sets\ETR.csv" , encoding = "latin-1")
data_etr.head(2)

,S. No.,Number,Customer,Agent,Booking Time,Internal (work notes),cleaned_text,Classification
0,1,CSP0205082059341,State Bank of India,tcl-8b2T06SnUa36zCKeDzQOytAH,8/5/2020 16:06,Esc || Link down from 6th Aug||CSP020508205934...,esc link down from 6th aug csp0205082059341 09...,ETR
1,2,CSR0219082047882,T-Systems Singapore Pte Limited,fmb-sdi-iam@telekom.de,8/20/2020 3:09,CSR0219082047882 || BHARTI TT ||27431230||T-Sy...,"flt desk fri 8 21 2020 12:17 am dear customer,...",ETR

In [112]:
data_etr.shape

(1755, 8)

In [113]:
data_etr.drop(["Number" , "Customer" , "Agent" , "Booking Time" , "Classification" , "S. No." , "cleaned_text"] , axis = 1 , inplace = True)

In [114]:
data_etr = data_etr.dropna(subset=['Internal (work notes)'])

In [115]:
data_etr['cleaned_text'] = data_etr['Internal (work notes)'].str.extract(r'(hi [\s\S]*?(?=(?:Thanks|Regards|Best|Warm To get instant))|Dear[\s\S]*?(?=(?:Thanks|Regards|Best|Warm|To get instant))|Dear[\s\S]*|HI [\s\S]*?(?=(?:Thanks|Regards|Best|To get instant))|Hi[\s\S]*?(?=(?:Thanks|Regards|Best|To get instant|ADMIN)))')

def clean_text(text):
    if isinstance(text, str):
        return ' '.join(text.split())
    else:
        return text
data_etr["cleaned_text"] = data_etr["cleaned_text"].apply(clean_text)

In [116]:
data_etr[467:475]

,Internal (work notes),cleaned_text
467,Incident ID\t \nService Request Number\t CS076...,NaN
468,Incident ID\t \nService Request Number\t CS078...,Dear Customer We spoke with customer Salman-73...
469,Incident ID\t \nService Request Number\t CS079...,Dear Customer Greetings from Sify We have chec...
470,Incident ID\t \nService Request Number\t CS081...,NaN
471,Incident ID\t INC0843668\nService Request Numb...,NaN
472,Incident ID\t INC0843668\nService Request Numb...,NaN
473,Incident ID\t INC0843668\nService Request Numb...,NaN
474,Incident ID\t INC0848529\nService Request Numb...,NaN

In [117]:
data_etr.drop([467 , 469 , 470 , 471 , 472 , 473 , 474] , axis = 0 , inplace = True)

In [118]:
data_etr["cleaned_text"].fillna(data_etr["Internal (work notes)"] , inplace = True)

In [119]:
len(data_etr["cleaned_text"][0])

180

In [120]:
data_etr.isna().sum()

Internal (work notes)    0
cleaned_text             0
dtype: int64

In [121]:
data_etr["sentiment"] = 0
data_etr["label"] = "ETR"

In [122]:
data_etr.to_csv("data_etr.csv")

# FE

In [123]:
data_fe = pd.read_csv(r"D:\data_sets\FE.csv" , encoding = "latin-1")

In [124]:
data_fe.drop(["Number" , "Customer" , "Agent" , "Booking Time" , "Classification" , "Sr No" , "cleaned_text" , "Subclass 1" , "Subclass 2" , "Subclass 3" , "Fault" , "Remarks" , "Unnamed: 13" , "Unnamed: 14"] , axis = 1 , inplace = True)

In [125]:
data_fe = data_fe.dropna(subset=['Internal (work notes)'])
data_fe.shape

(1245, 1)

In [126]:
data_fe['cleaned_text'] = data_fe['Internal (work notes)'].str.extract(r'(dear[\s\S]*?(?=(?:Thanks|Regards|Best|Warm))|Dear[\s\S]*?(?=(?:Thanks|Regards|Best|Warm))|Dear[\s\S]*|HI [\s\S]*?(?=(?:Thanks|Regards|Best))|Hi [\s\S]*|Hi [\s\S]*?(?=(?:Thanks|Regards|Best))|hi [\s\S]*?(?=(?:Thanks|Regards|Best|Warm))|Team[\s\S]*?(?=(?:Thanks|Regards|Best|Warm)))')
def clean_text(text):
    if isinstance(text, str):
        return ' '.join(text.split())
    else:
        return text
data_fe["cleaned_text"] = data_fe["cleaned_text"].apply(clean_text)

In [127]:
data_fe.drop([26,48,301,348] , axis = 0 , inplace = True)

In [128]:
data_fe["cleaned_text"].fillna(data_fe["Internal (work notes)"] , inplace = True)

In [129]:
data_fe["cleaned_text"].isna().sum()

0

In [130]:
data_fe.isna().sum()

Internal (work notes)    0
cleaned_text             0
dtype: int64

In [131]:
data_fe["sentiment"] = 1
data_fe["label"] = "FE"

In [132]:
data_fe.to_csv("data_fe.csv")

# RFO

In [133]:
data_rfo = pd.read_csv(r"D:\data_sets\RFO.csv" , encoding = "latin-1")
print(data_rfo.shape)
print(data_rfo["cleaned_text"].isna().sum())

(6925, 18)
6925

In [134]:
data_rfo.head(2)

,S. No.,Number,Customer,Agent,Booking Time,Internal (work notes),cleaned_text,Classification,T1,T2,T3,T4,T5,Resolution comment,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,1,CSP0202112018975,NaN,NaN,NaN,Reference TT: CSTASK0082670\nReason for outage...,NaN,RFO,Tata Communications - 3rd Party,Access (India)-Wireline,Fiber Cut (Ring Failure),NaN,Bharti,Regret for the inconvenience caused due to out...,NaN,NaN,NaN,NaN
1,2,CSR0604112046447,NaN,NaN,NaN,Reference TT: CSTASK0083916\nReason for outage...,NaN,RFO,Tata Communications - 3rd Party,Access (India)-Wireline,Fiber Cut (Linear ),NaN,Bharti,The link was affected due to the linear fiber ...,NaN,NaN,NaN,NaN

In [135]:
data_rfo.drop(["Number" , "Customer" , "Agent" , "Booking Time" , "Classification" , "S. No." , "cleaned_text" , "T1" , "T2" , "T3" , "T4" , "T5" , "Resolution comment" , "Unnamed: 14" , "Unnamed: 15" , "Unnamed: 16" , "Unnamed: 17"] , axis = 1 , inplace = True) 

data_rfo.head(2)

                               Internal (work notes)
0  Reference TT: CSTASK0082670\nReason for outage...
1  Reference TT: CSTASK0083916\nReason for outage...

In [136]:
data_rfo['cleaned_text'] = data_rfo["Internal (work notes)"].str.extract(r'(hi [\s\S]*?(?=(?:Thanks|Regards|Best|Warm To get instant))|Dear[\s\S]*?(?=(?:Thanks|Regards|Best|Warm|To get instant))|Dear[\s\S]*|RFO[\s\S]*?(?=(?:Thanks|Regards|Best|To get instant))|Hi[\s\S]*?(?=(?:Thanks|Regards|Best|To get instant)))')

def clean_text(text):
    if isinstance(text, str):
        return ' '.join(text.split())
    else:
        return text
data_rfo["cleaned_text"] = data_rfo["cleaned_text"].apply(clean_text)

In [137]:
data_rfo["cleaned_text"].fillna(data_rfo["Internal (work notes)"] , inplace = True)

In [138]:
data_rfo["cleaned_text"].isna().sum()

0

In [139]:
data_rfo["sentiment"] = 2
data_rfo["label"] = "RFO"

In [140]:
data_rfo.to_csv("data_rfo.csv")

# SR

In [141]:
data_sr = pd.read_csv(r"D:\data_sets\SR.csv" , encoding = "latin-1")
data_sr.head(2)

,Sr No,Number,Customer,Agent,Booking Time,Internal (work notes),cleaned_text,Classification,Remarks,Remarks 2
0,1,CSR0203082029549,Axis Bank Limited,Axi21,8/3/2020 12:20,03/08/2020 04:43:59 PM\n\nKarthik thangavelu N...,"karthik thangavelu nadar dear satish, as discu...",Service Restored,Contains RFO,NaN
1,2,CSR0607082083866,Reliance General Insurance Company Limited,rcl.network@rcap.co.in,8/7/2020 12:30,07/08/2020 04:30:24 PM\n\nPiyush Pratap Paland...,piyush pratap palande checked and found servic...,Service Restored,Contains RFO,NaN

In [143]:
data_sr.drop(["Sr No" , "Number" , "Customer" , "Agent" , "Booking Time" , "cleaned_text" , "Classification" , "Remarks" , "Remarks 2"] , axis = 1 , inplace = True)

In [144]:
data_sr.head(2)

                               Internal (work notes)
0  03/08/2020 04:43:59 PM\n\nKarthik thangavelu N...
1  07/08/2020 04:30:24 PM\n\nPiyush Pratap Paland...

In [145]:
data_sr.shape

(2012, 1)

In [146]:
data_sr['cleaned_text'] = data_sr["Internal (work notes)"].str.extract(r'(Dear [\s\S]*?(?=(?:timeout))|Dear[\s\S]*|\d{2}\/\d{2}\/\d{4}\s\d{2}:\d{2}:\d{2}.(?:AM|PM)[\s\S]*?(?=(?:timeout))|\d{2}\/\d{2}\/\d{4}\s\d{2}:\d{2}:\d{2}.(?:AM|PM)[\s\S]*|Hi[\s\S]*?(?=(?:timeout)))')
def clean_text(text):
    if isinstance(text, str):
        return ' '.join(text.split())
    else:
        return text
data_sr["cleaned_text"] = data_sr["cleaned_text"].apply(clean_text)

In [147]:
data_sr = data_sr.dropna()

In [148]:
data_sr.isna().sum()

Internal (work notes)    0
cleaned_text             0
dtype: int64

In [149]:
data_sr["sentiment"] = 3
data_sr["label"] = "SR"

C:\Users\admin\AppData\Local\Temp\ipykernel_9572\2404597905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sr["sentiment"] = 3
C:\Users\admin\AppData\Local\Temp\ipykernel_9572\2404597905.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sr["label"] = "SR"

In [150]:
data_sr.to_csv("data_sr.csv")

In [167]:
data_sr = pd.read_csv(r"D:\data_sets\data_sr.csv")

# UPDATES

In [168]:
data_updates = pd.read_csv(r"D:\data_sets\UPDATES.csv" , encoding = "latin-1")
data_updates.head(2)

,S. No.,Number,Customer,Agent,Booking Time,Internal (work notes),cleaned_text,Classification,Sub class 1,Sub class 2,Sub class 3,Fault,Remarks
0,1,CSR06260820141020,Bajaj Electricals Limited,guest,2020-08-26 15:48:40,Work notes added on Task number [code]<a href=...,ap rssi: ssid1: 5 50:fe:f2:02:70:44 10.11.9.1...,UPDATE,GU,NaN,NaN,NaN,NaN
1,2,CSR0617082016857,John Deere India Private Limited,ashdeo,2020-08-17 12:51:01,Work notes added on Task number [code]<a href=...,ap su response fine mp gwa gwa t3 st ncn sbe ...,UPDATE,NaN,NaN,NaN,NaN,NaN

In [169]:
data_updates.drop(["S. No." , "Number" , "Customer" , "Agent" , "Booking Time" , "cleaned_text" , "Classification" , "Sub class 1" , "Sub class 2" , "Sub class 3" , "Fault" , "Remarks"] , axis = 1 , inplace = True)


data_updates.head(2)

                               Internal (work notes)
0  Work notes added on Task number [code]<a href=...
1  Work notes added on Task number [code]<a href=...

In [170]:
data_updates['cleaned_text'] = data_updates["Internal (work notes)"].str.extract(r'(Dear[\s\S]*?(?=(?:timeout))|Dear[\s\S]*?(?=(?:Additional comments))|Dear[\s\S]*?(?=(?:Dear))|Hi [\s\S]*|ap & su[\s\S]*?(?=(?:timeout))|AP & SU[\s\S]*|\d{2}\/\d{2}\/\d{4}[\s\S]*?(?=(?:timeout))|\d{2}\/\d{2}\/\d{4}[\s\S]*|RSSI[\s\S]*?(?=(?:timeout))|Switch [\s\S]*|SU[\s\S]*?(?=(?:timeout))|RSSI[\s\S]*|High latency[\s\S]*?(?=(?:timeout))|WIRELESS[\s\S]*?(?=(?:timeout))|eth [\s\S]*?(?=(?:Additional))|AP [\s\S]*?(?=(?:Wireless|timeout))|ap [\s\S]*?(?=(?:Uptime))|Current Time[\s\S]*?(?=(?:Wireless))|Dear[\s\S]*|dear[\s\S]*|Dear[\s\S]*?(?=(?:Thanks|Regards|Best|Warm|To get instant)))')

def clean_text(text):
    if isinstance(text, str):
        return ' '.join(text.split())
    else:
        return text
data_updates["cleaned_text"] = data_updates["cleaned_text"].apply(clean_text)

In [171]:
data_updates.isna().sum()

Internal (work notes)      0
cleaned_text             185
dtype: int64

In [172]:
data_updates["cleaned_text"].fillna(data_updates["Internal (work notes)"], inplace=True)

In [173]:
data_updates["label"] = "Updates"
data_updates["sentiment"] = 4

In [174]:
data_updates.to_csv("data_updates.csv")

In [175]:
data_updates["cleaned_text"].isna().sum()

0

In [176]:
len(data_updates[data_updates["cleaned_text"] == ""])

0

# Final data

In [177]:
data_final = pd.concat([data_etr , data_fe , data_rfo , data_updates , data_sr] , axis = 0)

In [178]:
data_final

,Internal (work notes),cleaned_text,sentiment,label,Unnamed: 0
0,Esc || Link down from 6th Aug||CSP020508205934...,"Dear Team, Extended ETR given by fiber team in...",0,ETR,NaN
1,CSR0219082047882 || BHARTI TT ||27431230||T-Sy...,"Dear Customer, Suspecting media issue, same we...",0,ETR,NaN
2,CSP0221082081013 | Jubilant Foodworks Limited ...,"Dear Team, Fe AMIN is on site checking last mi...",0,ETR,NaN
3,FRT Control <frtcontrolroom@gmail.com>\nFri 8/...,"Dear team, Extended ETR given by team : Today ...",0,ETR,NaN
4,LINK DOWN||CSR02130820164392||HKT Global (Sing...,HI Chaitanya. As team is working at site and E...,0,ETR,NaN
...,...,...,...,...,...
2262,Work notes added on Task number [code]<a href=...,27/08/2020 02:43:41 PM Lalit Kumar Ojha Copied...,3,SR,1426.0
2263,Work notes added on Task number [code]<a href=...,27/08/2020 02:43:41 PM Lalit Kumar Ojha Copied...,3,SR,1426.0
2264,Work notes added on Task number [code]<a href=...,27/08/2020 02:43:41 PM Lalit Kumar Ojha Copied...,3,SR,1426.0
2265,Work notes added on Task number [code]<a href=...,27/08/2020 02:43:41 PM Lalit Kumar Ojha Copied...,3,SR,1426.0
2266,Work notes added on Task number [code]<a href=...,27/08/2020 02:43:41 PM Lalit Kumar Ojha Copied...,3,SR,1426.0

In [179]:
data_final.isna().sum()

Internal (work notes)        0
cleaned_text                 0
sentiment                    0
label                        0
Unnamed: 0               13083
dtype: int64

In [180]:
data_final.drop(["Unnamed: 0"] , axis = 1 , inplace = True)

In [181]:
from sklearn.utils import shuffle
data_final = shuffle(data_final)

In [182]:
data_final
data_final.to_csv("data_final.csv")

# Bert

In [55]:
import pandas as pd
import numpy as np
from tqdm.auto import tqdm
import tensorflow as tf
from transformers import BertTokenizer

In [56]:
data_final.head()

,Internal (work notes),cleaned_text,sentiment
773,30/08/2020 05:36:36 PM\n\nJuttika Surya prasad...,30/08/2020 05:36:36 PM Juttika Surya prasad De...,3
3358,11/11/2020 07:06:01 PM\n\nK Murali Krishna Yad...,11/11/2020 07:06:01 PM\n\nK Murali Krishna Yad...,2
5498,Re: CSP0616082006150||LD || WEST|| MUMBAI || T...,"Dear Kamlesh, RFO- Access ring isolate due to ...",2
1153,"CSP0217082015942||WEST || Aurangabad,Maharasht...","Dear Sir, Dual path failure b/w: Kamgar_chowk ...",0
2048,"dear team, rfo :- during that time our fe is w...","dear team, rfo :- during that time our fe is w...",2

In [57]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14909 entries, 773 to 6547
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Internal (work notes)  14909 non-null  object
 1   cleaned_text           14909 non-null  object
 2   sentiment              14909 non-null  int64
dtypes: int64(1), object(2)
memory usage: 465.9+ KB

In [58]:
data_final["sentiment"].value_counts()

2    6925
4    3169
3    1826
0    1748
1    1241
Name: sentiment, dtype: int64

In [59]:
'''
sentiment labels:

ETR - 0 , 
FE = 1 , 
RFO - 2 ,
SR - 3 , 
UPDATES - 4
'''

'\nsentiment labels:\n\nETR - 0 , \nFE = 1 , \nRFO - 2 ,\nSR - 3 , \nUPDATES - 4\n'

In [60]:
tokenizer = BertTokenizer.from_pretrained("bert-base-cased")

In [61]:
token = tokenizer.encode_plus(
      data_final["cleaned_text"].iloc[0] , 
      max_lendth = 32 , 
      truncation = True , 
      padding = "max_length" ,
      add_sepcial_tokens = True,  
      return_tensors = "tf"
)

Keyword arguments {'max_lendth': 32, 'add_sepcial_tokens': True} not recognized.

In [62]:
token

{'input_ids': <tf.Tensor: shape=(1, 512), dtype=int32, numpy=
array([[  101,  1476,   120,  4775,   120, 12795,  4991,   131,  3164,
          131,  3164, 14123, 23915,  6154,  1968, 17078,  2315,   185,
         7297,  3556, 12956, 25456,  1200,   117,  1284,  1132, 15639,
         1115,  1103,  8132,  1322, 21697,  4442,  1110,  2519,  1895,
         1114,  2503,  2593,   119, 21559,  4031,  1121,  1240,  1322,
         1191,  1103,  1269,  2486,  1253,  1679, 22398,  1116,  1231,
        12986,  1366,  1114,   120,  1476,  4528,   178,  1643,  1114,
          123,  2005,  1104,  1205,  1159,  1111, 20559,  2549,   119,
         4268,  1525,  1103,  2071, 16959,   131,   131, 24695, 16959,
          131,   131,   145,  2069,   118,   144,  2349,  2249,   118,
        20576,  2064,   118,   157,  1495,   118,   159,  2107,   118,
        14056,  2249,   118,   156, 27211,   118,   140,  1475,  2428,
         3190,   118,  5187,   118,   144,  2349,  2249,   108, 10473,
         1403,   191, 11931, 24819, 10460,  3048,   118, 16151, 14666,
        13910,  1275,   119,  1407,   119,  5465,   119, 17048,  1231,
         6087, 27466, 10204,  6902,  3359,  4954,  1106,   170, 12207,
         1204,   119, 25929,  1158,  6087,   117, 10204,   118,  1118,
         1566,   146, 27847,  2101, 12940,  1116,  1106,  1275,   119,
         1407,   119,  5465,   119, 17048,   117,   102,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0]])>, 'token_type_ids': <tf.Tensor: shape=(1, 512), dtype=int32, numpy=
array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0]])>, 'attention_mask': <tf.Tensor: shape=(1, 512), dtype=int32, numpy=
array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0]])>}

In [63]:
X_input_ids = np.zeros((len(data_final) , 32))
X_attn_masks = np.zeros((len(data_final) , 32))

In [64]:
print(X_input_ids.shape)
print(X_attn_masks.shape)

(14909, 32)
(14909, 32)

In [65]:
def generate_training_data(data_final , ids , masks , tokenizer):
    for i , text in tqdm(enumerate(data_final["cleaned_text"])):
        tokenized_text = tokenizer.encode_plus(
             text , 
            max_length = 32 , 
            truncation = True , 
            padding = "max_length" , 
            add_special_tokens = True , 
            return_tensors = "tf"
        )
        
        ids[i , :] = tokenized_text.input_ids
        masks[i , :] = tokenized_text.attention_mask
    return ids , masks

In [66]:
X_input_ids , X_attn_masks = generate_training_data(data_final , X_input_ids , X_attn_masks , tokenizer)

0it [00:00, ?it/s]

In [67]:
X_input_ids

array([[  101.,  1476.,   120., ...,  8132.,  1322.,   102.],
       [  101.,  1429.,   120., ...,  3094.,  9455.,   102.],
       [  101., 12956., 14812., ...,  3507.,  8758.,   102.],
       ...,
       [  101., 12956.,   138., ...,  2516., 23296.,   102.],
       [  101., 12956., 25456., ...,  8797., 15531.,   102.],
       [  101., 12956., 24930., ..., 22639.,  1580.,   102.]])

In [68]:
labels = np.zeros((len(data_final) , 5))
labels.shape

(14909, 5)

In [69]:
labels[np.arange(len(data_final)) , data_final["sentiment"].values] = 1
labels

array([[0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       ...,
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.]])

In [70]:
dataset = tf.data.Dataset.from_tensor_slices((X_input_ids , X_attn_masks , labels))

In [71]:
dataset.take(1)

In [72]:
def sentimentdatasetmapfunction(input_ids , attn_masks , labels):
    return {
        "input_ids" : input_ids , 
        "attention_mask" : attn_masks 
    } , labels

In [73]:
dataset = dataset.map(sentimentdatasetmapfunction)

In [74]:
dataset.take(1)

<TakeDataset element_spec=({'input_ids': TensorSpec(shape=(32,), dtype=tf.float64, name=None), 'attention_mask': TensorSpec(shape=(32,), dtype=tf.float64, name=None)}, TensorSpec(shape=(5,), dtype=tf.float64, name=None))>

In [75]:
dataset = dataset.shuffle(10000).batch(16 , drop_remainder = True)

# # Training validation data

In [76]:
p = 0.8
train_size = int((len(data_final)//16)*p)

In [77]:
train_size

744

In [78]:
train_dataset = dataset.take(train_size)
val_dataset = dataset.skip(train_size)

In [79]:
from transformers import TFBertModel

In [80]:
bert_model = TFBertModel.from_pretrained("bert-base-cased")

Some layers from the model checkpoint at bert-base-cased were not used when initializing TFBertModel: ['nsp___cls', 'mlm___cls']
- This IS expected if you are initializing TFBertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFBertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
All the layers of TFBertModel were initialized from the model checkpoint at bert-base-cased.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertModel for predictions without further training.

In [81]:
input_ids = tf.keras.layers.Input(shape = (32 , ) , name = "input_ids" , dtype = "int32")
attention_masks = tf.keras.layers.Input(shape = (32 , ) , name = "attention_mask" , dtype = "int32")

In [82]:
bert_embds = bert_model.bert(input_ids , attention_mask = attention_masks)[1]

intermediate_layer = tf.keras.layers.Dense(64 , activation = "relu" , name = "intermediate_layer")(bert_embds)

output_layer = tf.keras.layers.Dense(5 , activation = "softmax" , name = "output_layer")(intermediate_layer)

model = tf.keras.Model(inputs = [input_ids , attention_masks] , outputs = output_layer)
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_ids (InputLayer)         [(None, 32)]         0           []

 attention_mask (InputLayer)    [(None, 32)]         0           []

 bert (TFBertMainLayer)         TFBaseModelOutputWi  108310272   ['input_ids[0][0]',
                                thPoolingAndCrossAt               'attention_mask[0][0]']
                                tentions(last_hidde
                                n_state=(None, 32,
                                768),
                                 pooler_output=(Non
                                e, 768),
                                 past_key_values=No
                                ne, hidden_states=N
                                one, attentions=Non
                                e, cross_attentions
                                =None)

 intermediate_layer (Dense)     (None, 64)           49216       ['bert[0][1]']

 output_layer (Dense)           (None, 5)            325         ['intermediate_layer[0][0]']

==================================================================================================
Total params: 108,359,813
Trainable params: 108,359,813
Non-trainable params: 0
__________________________________________________________________________________________________

In [83]:
optim = tf.keras.optimizers.Adam(learning_rate = 1e-5 , decay = 1e-6)
loss_func = tf.keras.losses.CategoricalCrossentropy()
acc = tf.keras.metrics.CategoricalAccuracy("accuracy")

In [84]:
model.compile(optimizer = optim , loss = loss_func , metrics = [acc])

In [85]:
hist = model.fit(
    train_dataset , 
    validation_data = val_dataset ,
    epochs = 1
)

744/744 [==============================] - 2447s 3s/step - loss: 0.6016 - accuracy: 0.7862 - val_loss: 0.3375 - val_accuracy: 0.8860