<a href="https://colab.research.google.com/github/CKBoppudi/CKBoppudi/blob/main/mean_median_mode_outlier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/content/income.csv")

In [3]:
data

       name     income
0        Rob      5000
1      Rafiq      6000
2       Nina      4000
3      Sofia      7500
4      Mohan      8000
5        Tao      7000
6  Elon Musk  10000000

describe() function gives the statistical values of the data set.

In [5]:
data.describe()

             income
count  7.000000e+00
mean   1.433929e+06
std    3.777283e+06
min    4.000000e+03
25%    5.500000e+03
50%    7.000000e+03
75%    7.750000e+03
max    1.000000e+07

quantile() functions gives the percile value of the data set mentioned.

In [6]:
data["income"].quantile()

7000.0

In [7]:
data["income"].quantile(0.45)

6700.0

In [8]:
data["income"].quantile(0.75)

7750.0

In [9]:
data["income"].quantile(0.25 , "lower")

5000

In [10]:
data["income"].quantile(0.25 , "higher")

6000

In [11]:
data["income"].quantile(0.25 , "linear")

5500.0

# Using 0 and 1 gives the lowest and highest values of the data set column

In [12]:
data["income"].quantile(0)

4000.0

In [13]:
data["income"].quantile(1)

10000000.0

# Removing the elon musk outlier from the data set.

# Elon musk is the 100 the percentile in the data set, so accesing all the other 99th percentile of the data set.

In [16]:
data_percentile_99 = data["income"].quantile(0.99)
data_percentile_99

9400479.999999994

In [17]:
data[data["income"] > data_percentile_99]

       name     income
6  Elon Musk  10000000

# So to remove the above outlier assigning a new data frame to the reverse condition, that is taking all the data values other than the outlier.

In [20]:
data_no_outliers = data[data["income"] < data_percentile_99]

In [21]:
data_no_outliers

   name   income
0    Rob    5000
1  Rafiq    6000
2   Nina    4000
3  Sofia    7500
4  Mohan    8000
5    Tao    7000

# Treating the missing values (Nan values)

In [30]:
data_no_outliers

   name   income
0    Rob    5000
1  Rafiq    6000
2   Nina    4000
3  Sofia    7500
4  Mohan    8000
5    Tao    7000

In [31]:
data_no_outliers["income"][3] = np.NaN

<ipython-input-31-75ba9df75d47>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_outliers["income"][3] = np.NaN
/usr/local/lib/python3.9/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [32]:
data_no_outliers

   name   income
0    Rob  5000.0
1  Rafiq  6000.0
2   Nina  4000.0
3  Sofia     NaN
4  Mohan  8000.0
5    Tao  7000.0

In [33]:
data_no_outliers["income"].mean()

6000.0

In [35]:
data_no_outliers.fillna(data_no_outliers["income"].mean())

   name   income
0    Rob  5000.0
1  Rafiq  6000.0
2   Nina  4000.0
3  Sofia  6000.0
4  Mohan  8000.0
5    Tao  7000.0

# So in the above NaN value is filled with the help of fillna method using the mean of the data set.