<a href="https://colab.research.google.com/github/CKBoppudi/CKBoppudi/blob/main/Named_Entity_Recognition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [6]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [13]:
 doc = nlp("Tesla Inc is going to acquire Twitter for 45 billion $")

In [14]:
for ent in doc.ents:
  print(ent , "|" , ent.label_ , "|" , spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
Twitter | ORG | Companies, agencies, institutions, etc.
45 billion $ | MONEY | Monetary values, including unit

In [15]:
from spacy import displacy
displacy.render(doc , style = "ent")

'<div class="entities" style="line-height: 2.5; direction: ltr">\n<mark class="entity" style="background: #7aecec; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    Tesla Inc\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">ORG</span>\n</mark>\n is going to acquire \n<mark class="entity" style="background: #7aecec; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    Twitter\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">ORG</span>\n</mark>\n for \n<mark class="entity" style="background: #e4e7d2; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    45 billion $\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MONEY</span>\n</mark>\n</div>'

In [16]:
 nlp.pipe_labels["ner"]

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [19]:
doc = nlp("Micheal Bloomberg founded Bloomberg Inc in 1982")

In [20]:
for ent in doc.ents:
  print(ent.text , "|" , ent.label_ , "|" , spacy.explain(ent.label_))

Micheal Bloomberg | PERSON | People, including fictional
Bloomberg Inc | ORG | Companies, agencies, institutions, etc.
1982 | DATE | Absolute or relative dates or periods

In [22]:
# Hugging face

In [45]:
 doc = nlp("Tesla is going to acquire Twitter for 45 billion $")

In [46]:
doc[0]

Tesla

In [47]:
for ent in doc.ents:
  print(ent , ent.label_)

Twitter ORG
45 billion $ MONEY

In [48]:
type(doc[2:5])

spacy.tokens.span.Span

In [49]:
 from spacy.tokens import Span

 s1 = Span(doc , 0 , 1 , label = "ORG")
 s2 = Span(doc , 5 , 6 , label = "ORG")

doc.set_ents([s1 , s2] , default = "unmodified")

In [51]:
for ent in doc.ents:
  print(ent , " | " , ent.label_)

Tesla  |  ORG
Twitter  |  ORG
45 billion $  |  MONEY