<a href="https://colab.research.google.com/github/CKBoppudi/CKBoppudi/blob/main/parts_of_speech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import spacy

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

In [3]:
nlp = spacy.load("en_core_web_sm")

# Printing parts of speech for each token.

In [14]:
 doc = nlp("Elon flew to mars yesterday. He carried biryani masala with him")

for token in doc:
  print(token , "|" , token.pos_ , "|" , spacy.explain(token.pos_))

Elon | PROPN | proper noun
flew | VERB | verb
to | ADP | adposition
mars | NOUN | noun
yesterday | NOUN | noun
. | PUNCT | punctuation
He | PRON | pronoun
carried | VERB | verb
biryani | NOUN | noun
masala | NOUN | noun
with | ADP | adposition
him | PRON | pronoun

In [27]:
doc = nlp("wow! Dr. strange made 265 million $ on the very first day")

for token in doc:
  print(token , " | " , token.pos_ , " | " , spacy.explain(token.pos_) , " | " ,  token.tag_ , " | " , spacy.explain(token.tag_))

wow  |  INTJ  |  interjection  |  UH  |  interjection
!  |  PUNCT  |  punctuation  |  .  |  punctuation mark, sentence closer
Dr.  |  PROPN  |  proper noun  |  NNP  |  noun, proper singular
strange  |  NOUN  |  noun  |  NN  |  noun, singular or mass
made  |  VERB  |  verb  |  VBD  |  verb, past tense
265  |  NUM  |  numeral  |  CD  |  cardinal number
million  |  NUM  |  numeral  |  CD  |  cardinal number
$  |  PUNCT  |  punctuation  |  -RRB-  |  right round bracket
on  |  ADP  |  adposition  |  IN  |  conjunction, subordinating or preposition
the  |  DET  |  determiner  |  DT  |  determiner
very  |  ADV  |  adverb  |  RB  |  adverb
first  |  ADJ  |  adjective  |  JJ  |  adjective (English), other noun-modifier (Chinese)
day  |  NOUN  |  noun  |  NN  |  noun, singular or mass

In [32]:
doc = nlp("He quits the job")

doc[1]
print(doc[1] , " | " , doc[1].pos_  , " | ", spacy.explain(doc[1].pos_) , " | " , doc[1].tag_ , " | " , spacy.explain(doc[1].tag_))

quits  |  VERB  |  verb  |  VBZ  |  verb, 3rd person singular present

In [33]:
doc = nlp("He quit the job")

doc[1]
print(doc[1] , " | " , doc[1].pos_  , " | ", spacy.explain(doc[1].pos_) , " | " , doc[1].tag_ , " | " , spacy.explain(doc[1].tag_))

quit  |  VERB  |  verb  |  VBD  |  verb, past tense

In [34]:
text_ms = """Microsoft Corp. today announced the following results for the quarter ended December 31, 2022, as compared to the corresponding period of last fiscal year:
·        Revenue was $52.7 billion and increased 2%  

·        Operating income was $20.4 billion GAAP and $21.6 billion non-GAAP, and decreased 8% and 3%, respectively

·        Net income was $16.4 billion GAAP and $17.4 billion non-GAAP, and decreased 12% and 7%, respectively

·        Diluted earnings per share was $2.20 GAAP and $2.32 non-GAAP, and decreased 11% and 6%, respectively"""

In [38]:
# Removing all the punctuation marks and all the extra characters from the above text.

In [45]:
doc = nlp(text_ms)

filtered_tokens = []
for token in doc:
  if token.pos_ not in ["SPACE" , "X" , "PUNCT"]:
    filtered_tokens.append(token)

In [46]:
filtered_tokens

[Microsoft,
 Corp.,
 today,
 announced,
 the,
 following,
 results,
 for,
 the,
 quarter,
 ended,
 December,
 31,
 2022,
 as,
 compared,
 to,
 the,
 corresponding,
 period,
 of,
 last,
 fiscal,
 year,
 Revenue,
 was,
 $,
 52.7,
 billion,
 and,
 increased,
 2,
 %,
 Operating,
 income,
 was,
 $,
 20.4,
 billion,
 GAAP,
 and,
 $,
 21.6,
 billion,
 non,
 -,
 GAAP,
 and,
 decreased,
 8,
 %,
 and,
 3,
 %,
 respectively,
 Net,
 income,
 was,
 $,
 16.4,
 billion,
 GAAP,
 and,
 $,
 17.4,
 billion,
 non,
 -,
 GAAP,
 and,
 decreased,
 12,
 %,
 and,
 7,
 %,
 respectively,
 Diluted,
 earnings,
 per,
 share,
 was,
 $,
 2.20,
 GAAP,
 and,
 $,
 2.32,
 non,
 -,
 GAAP,
 and,
 decreased,
 11,
 %,
 and,
 6,
 %,
 respectively]

In [50]:
count = doc.count_by(spacy.attrs.POS)
count

{103: 10,
 96: 3,
 92: 29,
 100: 9,
 90: 3,
 85: 4,
 93: 21,
 97: 13,
 98: 1,
 84: 5,
 87: 4,
 99: 7,
 89: 10,
 86: 3}

In [53]:
 doc.vocab[103].text

'SPACE'

In [56]:
for k , v in count.items():
  print(doc.vocab[k].text , " | " , v)

SPACE  |  10
PROPN  |  3
NOUN  |  29
VERB  |  9
DET  |  3
ADP  |  4
NUM  |  21
PUNCT  |  13
SCONJ  |  1
ADJ  |  5
AUX  |  4
SYM  |  7
CCONJ  |  10
ADV  |  3

In [57]:
# Exercise

In [59]:
text = '''Inflation rose again in April, continuing a climb that has pushed consumers to the brink and is threatening the economic expansion, the Bureau of Labor Statistics reported Wednesday.
\n\nThe consumer price index, a broad-based measure of prices for goods and services, increased 8.3% from a year ago, higher than the Dow Jones estimate for an 8.1% gain. 
That represented a slight ease from Marchâ€™s peak but was still close to the highest level since the summer of 1982.\n\nRemoving volatile food and ene'''

In [60]:
# Extract noun ans num tokens.

In [74]:
doc = nlp(text)

num_tokens = []
noun_tokens = []

for token in doc:
  if token.pos_ == "NOUN":
    noun_tokens.append(token)
  elif token.pos_ == "NUM":
    num_tokens.append(token)

In [75]:
noun_tokens

[Inflation,
 climb,
 consumers,
 brink,
 expansion,
 consumer,
 price,
 index,
 measure,
 prices,
 goods,
 services,
 %,
 year,
 estimate,
 %,
 gain,
 ease,
 peak,
 level,
 summer,
 food,
 ene]

In [76]:
num_tokens

[8.3, 8.1, 1982]

In [ ]:
count = doc.count_by(spacy.attrs.POS)
count

In [77]:
for k , v in count.items():
  print(doc.vocab[k].text , "|" , v)

NOUN | 23
VERB | 9
ADV | 4
ADP | 11
PROPN | 9
PUNCT | 9
DET | 12
PRON | 2
AUX | 3
CCONJ | 4
ADJ | 6
SPACE | 3
NUM | 3
PART | 1
SCONJ | 1

In [78]:
# The noun count is 23. The number count is 3.